.sections{
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.descriptions{
    background-color: white; 
    height:300; 
    font-family: 'Courier New', Courier, monospace; 
    font-size: medium;
    text-align: center;
    width: 90%;
    position: absolute;
    opacity: .85;
}